body {
  margin: 0;
  background:linear-gradient(0deg, rgba(90, 96, 160, 0.3), rgba(86, 96, 174, 0.3)), url(pexels-fauxels-3184315.jpg);
 background-size:cover;
 
}
.title-and-description{
    margin-top: 50px;
    color: #ffffff;
}
#title, #description {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
   
}
#survey-form {
width: 800px;
height: 700px;
background: rgba(44, 57, 78, 0.9);
margin: 0 auto;
margin-top: 40px;
color: white;
}
#first-section{
border: none;
padding: 40px 40px 25px 20px;
width: 770px;
}

input{
width:95%;
padding: 8px;
display:block;
margin: 0 auto;
margin-bottom:25px;
}

label {
width: 100%;
line-height: 40px;

}
#name-label{
    
}
select {
    display: block;
    width: 98%;
    margin: 0 auto;
    padding: 8px;
}